# Rust

/target/
/*/target/

# IntelliJ

**/.idea/
**/*.iml

# VSCode

/.vscode/*
!/.vscode/launch.json
*.code-workspace

# Miscellaneous
*.log
*.ron
.airshipper-env
airshipper.db
public/
profiles/
.packages/