[
    Server(
        // The name of the server.
        name: "Official Veloren Server",
        // The server description.
        description: "Welcome to the Veloren Pre-Alpha. Enjoy your journey!",
        // The address through which the server might be accessed on the open internet.
        address: "server.veloren.net",
        // The country that the server is physically based in.
        country: "DE",
        // The version channel used by the server.
        channel: Some("weekly"),
        /// Whether the server is officially affiliated with the Veloren project.
        official: true,
    ),
    Server(
        name: "Veloren ES",
        description: "",
        address: "server.veloren.es",
        country: "ES",
        channel: Some("weekly"),
        official: false,
    ),
    Server(
        name: "VELOREN LATAM",
        description: "",
        address: "server.velorenlatam.net",
        country: "BR",
        channel: Some("weekly"),
        official: false,
    ),
]
