# let sqlx cli know where the db should be
DATABASE_URL=sqlite://server/airshipper.db
# Settings for the server
AIRSHIPPER_GITLAB_SECRET=banana
AIRSHIPPER_ARTIFACT_STAGE=build
AIRSHIPPER_TARGET_BRANCH=master
AIRSHIPPER_TARGET_EXECUTABLES=linux,windows,macos
# For debugging
RUST_LOG=info,server=debug
ROCKET_ENV=staging