[package]
name = "server"
version = "0.2.0"
authors = ["Songtronix <contact@songtronix.com>"]
edition = "2018"
publish = false

[dependencies]
tokio = "0.2.13"
# logging
tracing = { version = "0.1.13", features = ["log"] }
tracing-futures = "0.2.3"
tracing-subscriber = "0.2.3"
# Webserver
rocket = { git = "https://github.com/SergioBenitez/Rocket", rev = "0909ba2" }
rocket_contrib = { git = "https://github.com/SergioBenitez/Rocket", rev = "0909ba2", features = ["json", "diesel_sqlite_pool"] }
# Networking
reqwest = "0.10.4"
# Serialising/Deserialising
serde = { version = "1.0.105", features = ["derive"] }
serde_json = "1.0.50"
# Database
diesel = { version = "1.4.4", features = ["sqlite", "chrono"] }
diesel_migrations = "1.4.0"
rust-s3 = "0.20.0"
aws-region = "0.20.0"
aws-creds = "0.20.0"
# Error handling
thiserror = "1.0.13"
# other
chrono = { version = "0.4.11", features = ["serde"] }
lazy_static = "1.4.0"
dotenv = "0.15.0"
md5 = "0.7.0"
# bundle all the things!
libsqlite3-sys = { version = "*", features = ["bundled"] }
openssl-sys = { version = "*", features = ["vendored"] }