[package]
name = "server"
version = "0.4.2"
authors = ["Songtronix <contact@songtronix.com>"]
edition = "2018"
publish = false

[features]
# Windows cannot bundle ssl by default and as such this feature exists
# to bundle ssl in CI
bundled = ["openssl-sys"]

[dependencies]
tokio-util = { version = "0.3.1", features = ["codec"] }
tokio = "0.2.13"
# logging
tracing = { version = "0.1.21", features = ["log"] }
tracing-futures = "0.2.4"
tracing-subscriber = "0.2.15"
# Webserver
rocket = { git = "https://github.com/SergioBenitez/Rocket", rev = "45b4436" }
rocket_contrib = { git = "https://github.com/SergioBenitez/Rocket", rev = "45b4436", features = ["json", "diesel_sqlite_pool"] }
# Networking
reqwest = "0.10.9"
# Serialising/Deserialising
serde = { version = "1.0.105", features = ["derive"] }
serde_json = "1.0.59"
# Database
diesel = { version = "1.4.5", features = ["sqlite", "chrono"] }
diesel_migrations = "1.4.0"
# Error handling
thiserror = "1.0.22"
# other
chrono = { version = "0.4.19", features = ["serde"] }
lazy_static = "1.4.0"
prometheus = "0.10.0"
futures = "0.3.8"
dotenv = "0.15.0"
bytes = "0.5"
md5 = "0.7.0"
# bundle all the things!
libsqlite3-sys = { version = "*", features = ["bundled"] }
openssl-sys = { version = "*", features = ["vendored"], optional = true }
